{% extends "layout.html" %}

{% block title %}
    Change Your Password
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        <fieldset>
            <legend>Change Your Password</legend>
            <div class="mb-3">
                <label for="current_password" class="form-label">Enter current password</label>
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="current_password" name="current_password" placeholder="Current Password" type="password">
            </div>
            <div class="mb-3">
                <label for="new_password" class="form-label">Enter new password</label>
                <input autocomplete="off" class="form-control mx-auto w-auto" id="new_password" name="new_password" placeholder="New Password" type="password">
            </div>
            <div class="mb-3">
                <label for="confirm_new_password" class="form-label">Confirm new password</label>
                <input autocomplete="off" class="form-control mx-auto w-auto" id="confirm_new_password" name="confirm_new_password" placeholder="Confirm New Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Change Your Password</button>
        </fieldset>
    </form>
{% endblock %}

<!--
    Required Problem set 9 by Luis Artavia - finance
    draft processed on: October 17, 2023
    submitted for grade on: October 17, 2023
-->