{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <fieldset>
            <legend>User login</legend>
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Log In</button>
        </fieldset>
    </form>
{% endblock %}

<!--
    Required Problem set 9 by Luis Artavia - finance
    draft processed on: October 08, 2023
    submitted for grade on: October 17, 2023
-->